* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
    overflow: hidden;
}
.container {
    position: absolute;
    width: 1280px;
    height: 768px;
    top: calc(50% - 384px);
    left: calc(50% - 640px);
    background-color: black;
    perspective: 500px;
    overflow: hidden;
    border: 2px solid black;
}
.box {
    position: absolute;
    width: 1280px;
    height: 768px;
    transform-style: preserve-3d;
    transform-origin: 0% 50% 0px;
}
.wallbox {
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
.side {
    position: absolute;
    width: 5120px;
    height: 768px;
}
.side-3, .side-4 {
    width: 1280px;
    height: 5120px;
}
.side-1, .side-2 {
    background-image: url('../images/tile-1.png');
}
/* Left wall */
.side-1 {
    transform: translateX(-2560px) translateZ(-2560px) rotateY(90deg);
}
/* Right wall */
.side-2 {
    transform: translateX(-1280px) translateZ(-2560px) rotateY(90deg);
}
/* Floor */
.side-3 {
    background-image: url('../images/tile-3.png');
    transform: translateY(-1793px) translateZ(-2560px) rotateX(90deg);
}
/* Ceiling */
.side-4 {
    background-image: url('../images/tile-2.png');
    transform: translateY(-2560px) translateZ(-2560px) rotateX(90deg);
}

.shading-1, .shading-2 {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5) 15%, rgba(0,0,0,1) 50%);
}
.shading-3, .shading-4 {
    width: 1280px;
    height: 5120px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5) 15%, rgba(0,0,0,1) 50%);
}
.shading-1 {
    transform: translateX(-2560px) translateZ(-2560px) rotateY(90deg);
}
.shading-2 {
    transform: translateX(-1280px) translateZ(-2560px) rotateY(90deg);
}
.shading-3 {
    transform: translateY(-1793px) translateZ(-2560px) rotateX(90deg);
}
.shading-4 {
    transform: translateY(-2560px) translateZ(-2560px) rotateX(90deg);
}

@keyframes move {
    0% {
        transform: translateZ(0px);
    }
    100% {
        transform: translateZ(256px);
    }
}
