/* NOTE: This works fine in Chrome but is horribly broken in Firefox */
/* NOTE: This works fine in Chrome but is horribly broken in Firefox */
/* NOTE: This works fine in Chrome but is horribly broken in Firefox */
/* NOTE: This works fine in Chrome but is horribly broken in Firefox */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
    overflow: hidden;
}

/* --- Cube 1 --- */
#container {
    position: absolute;
    width: 480px;
    height: 480px;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
    perspective: 1000px;
}
@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    12% {
        transform: rotateX(90deg) rotateY(45deg);
    }
    25% {
        transform: rotateX(180deg) rotateY(90deg);
    }
    37% {
        transform: rotateX(270deg) rotateY(135deg);
    }
    50% {
        transform: rotateX(360deg) rotateY(180deg);
    }
    62% {
        transform: rotateX(450deg) rotateY(225deg);
    }
    75% {
        transform: rotateX(540deg) rotateY(270deg);
    }
    87% {
        transform: rotateX(630deg) rotateY(315deg);
    }
    100% {
        transform: rotateX(720deg) rotateY(360deg);
    }
}
.anchor {
    position: absolute;
    width: 480px;
    height: 480px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
}
.side {
    position: absolute;
    width: 480px;
    height: 480px;
    /* background-color: white; */
    opacity: 1;
    /* background-image: url('../images/back480.jpg') */
}
.side-1, .side-3 {
    background-color: white;
}
.side-2, .side-4 {
    background-color: grey;
}
.side-5, .side-6 {
    background-color: lightgrey;
}
.side-1 {
    transform: translateZ(240px);
}
.side-2 {
    transform: rotateX(90deg) translateZ(240px);
}
.side-3 {
    transform: rotateX(180deg) translateZ(240px);
}
.side-4 {
    transform: rotateX(270deg) translateZ(240px);
}
.side-5 {
    transform: rotateY(90deg) translateZ(240px);
}
.side-6 {
    transform: rotateY(270deg) translateZ(240px);
}

/* --- Cube 2 to 6 --- */
#container2 {
    position: absolute;
    width: 240px;
    height: 240px;
    top: calc(50% - 120px);
    left: calc(50% - 120px);
    perspective: 1000px;
}
.anchor2 {
    position: absolute;
    width: 240px;
    height: 240px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
}
.side2 {
    position: absolute;
    width: 240px;
    height: 240px;
    /* background-color: lightgreen; */
    opacity: 1;
    /* background-image: url('../images/back480.jpg') */
}
.side2-1, .side2-3 {
    background-color: green;
}
.side2-2, .side2-4 {
    background-color: lightgreen;
}
.side2-5, .side2-6 {
    background-color: darkgreen;
}
.side2-1 {
    transform: translateZ(120px);
}
.side2-2 {
    transform: rotateX(90deg) translateZ(120px);
}
.side2-3 {
    transform: rotateX(180deg) translateZ(120px);
}
.side2-4 {
    transform: rotateX(270deg) translateZ(120px);
}
.side2-5 {
    transform: rotateY(90deg) translateZ(120px);
}
.side2-6 {
    transform: rotateY(270deg) translateZ(120px);
}

/* --- Cube 7 to whatever --- */
#container3 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    perspective: 1000px;
}
.anchor3 {
    position: absolute;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
}
.side3 {
    position: absolute;
    width: 120px;
    height: 120px;
    /* background-color: lightgreen; */
    opacity: 1;
    /* background-image: url('../images/back480.jpg') */
}
.side3-1, .side3-3 {
    background-color: blue;
}
.side3-2, .side3-4 {
    background-color: lightblue;
}
.side3-5, .side3-6 {
    background-color: darkblue;
}
.side3-1 {
    transform: translateZ(60px);
}
.side3-2 {
    transform: rotateX(90deg) translateZ(60px);
}
.side3-3 {
    transform: rotateX(180deg) translateZ(60px);
}
.side3-4 {
    transform: rotateX(270deg) translateZ(60px);
}
.side3-5 {
    transform: rotateY(90deg) translateZ(60px);
}
.side3-6 {
    transform: rotateY(270deg) translateZ(60px);
}
