* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
    overflow: hidden;
}

/* --- Cube 1 --- */
#container {
    position: absolute;
    width: 480px;
    height: 480px;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
    perspective: 1000px;
}
@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    12% {
        transform: rotateX(90deg) rotateY(45deg);
    }
    25% {
        transform: rotateX(180deg) rotateY(90deg);
    }
    37% {
        transform: rotateX(270deg) rotateY(135deg);
    }
    50% {
        transform: rotateX(360deg) rotateY(180deg);
    }
    62% {
        transform: rotateX(450deg) rotateY(225deg);
    }
    75% {
        transform: rotateX(540deg) rotateY(270deg);
    }
    87% {
        transform: rotateX(630deg) rotateY(315deg);
    }
    100% {
        transform: rotateX(720deg) rotateY(360deg);
    }
}
.anchor {
    position: absolute;
    width: 480px;
    height: 480px;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
}
.side {
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: white;
    opacity: 0.3;
    background-image: url('../images/back480.jpg')
}
.side-1 {
    transform: translateZ(240px);
}
.side-2 {
    transform: rotateX(90deg) translateZ(240px);
}
.side-3 {
    transform: rotateX(180deg) translateZ(240px);
}
.side-4 {
    transform: rotateX(270deg) translateZ(240px);
}
.side-5 {
    transform: rotateY(90deg) translateZ(240px);
}
.side-6 {
    transform: rotateY(270deg) translateZ(240px);
}

/* --- Cube 2 --- */
#container2 {
    position: absolute;
    width: 280px;
    height: 280px;
    top: calc(50% - 140px);
    left: calc(50% - 140px);
    perspective: 1000px;
}
.anchor2 {
    position: absolute;
    width: 280px;
    height: 280px;
    transform-style: preserve-3d;
    animation-name: rotate2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
}
.side2 {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: green;
    opacity: 1;
    /* background-image: url('../images/back480.jpg') */
}
.side2-1, .side2-3 {
    background-color: white;
}
.side2-2, .side2-4 {
    background-color: grey;
}
.side2-5, .side2-6 {
    background-color: lightgrey;
}
.side2-1 {
    transform: translateZ(140px);
}
.side2-2 {
    transform: rotateX(90deg) translateZ(140px);
}
.side2-3 {
    transform: rotateX(180deg) translateZ(140px);
}
.side2-4 {
    transform: rotateX(270deg) translateZ(140px);
}
.side2-5 {
    transform: rotateY(90deg) translateZ(140px);
}
.side2-6 {
    transform: rotateY(270deg) translateZ(140px);
}
@keyframes rotate2 {
    0% {
        transform: rotateX(720deg) rotateY(360deg);
    }
    12% {
        transform: rotateX(630deg) rotateY(315deg);
    }
    25% {
        transform: rotateX(540deg) rotateY(270deg);
    }
    37% {
        transform: rotateX(450deg) rotateY(225deg);
    }
    50% {
        transform: rotateX(360deg) rotateY(180deg);
    }
    62% {
        transform: rotateX(270deg) rotateY(135deg);
    }
    75% {
        transform: rotateX(180deg) rotateY(90deg);
    }
    87% {
        transform: rotateX(90deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
}
